

.header {
  display: flex;
  align-items: center; /* Vertically centers items */
  justify-content: space-between; /* Optional: adds space between logo and nav */
  padding: 20px 40px;
  background-color: white;
}

.nav-list {
  display: flex;
   gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.nav-list li {
  padding: 10px 0 10px 20px;
  font-weight: 400;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.nav-list a {
  color: black;
  text-decoration: none;
  font-size: 28px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen-header1
{
    height: 410px;
    width: 400px;
}

.imagen-header
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-2
{
    display: flex;
    flex-direction: row;

    padding: 10px;
    margin: 0px;
}

.primer-texto
{
    background: linear-gradient(to bottom, #e0f0ff, #ffffff);
    padding: 10px;
    width: 90%;
    height: auto;
}

.titulo-header2
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img2
{
  height: 1200px;
  width: 100%;
}

.imagen-header2
{
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.texto-explicacion
{
    font-weight: 300;
    height: auto;
    width: 100%;
}

main
{
  background-color: whitesmoke;
}

footer
{
  background-color: white;
}

.imagen_footer
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-footer
{
    height: 200px;
    width: 350px;
    padding: 15px;   
}

.imagen-footer2
{
  height: 60px;
  width: 60px;
}

.informacion
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-visitanos
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.informacion-grande
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.informacion-grande2
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
}


.imagen-footer2
{
  height: 60px;
  width: 80px;
}

.explicacion
{
  font-weight: 100;
}

.doctores-foto
{
  height: 850px;
  width: 600px;
}

.perfil-doctores
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.texto-perfiles
{
  margin: 100px;
}

.tipo-doctor
{
  font-weight: 500;

}

.intro-tipo-doctor
{
  width: 700px;
}

.boton-perfiles
{
  color: lightskyblue;
  cursor: pointer;
  border-color:lightskyblue;
  width: 150px;
  height: 50px;
  background-color: whitesmoke;
  border-width: 2px;
}

#tipo-doctor-margin
{
  margin-top: 100px;
}


@media (max-width: 1480px)
{
  body
  {
    width: 100%;
  }
  
  main
  {
    width: 100%;
  }
  
  .header-2
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .img2
  {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .imagen-header2
  {
    max-height: 1100px;
    width: 60%;
  }

  .perfil-doctores
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .primer-texto
  {
    width: 100%;
  }
}

@media (max-width: 1250px)
{
  .nav-list
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  
}

@media(max-width: 1200px)
{
  .imagen-header2{
    width: 720px;
  }
}

@media (max-width: 1120px)
{
  .informacion-grande2
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  body
  {
    height: 100%;
    width: 100%;
  }


  
}


@media(max-width: 900px)
{
  .header-1
  {
      width: 100%;
    }

    .header-2
    {
      width: 100%;
      justify-content: center;
      padding: 0px;
    }

    .informacion-grande
    {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

    }

    .perfil-doctores
    {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    main
    {
      width: 100% !important;
    }

    .intro-tipo-doctor
    {
      width: 100%;
    }


  }

  @media(max-width: 720px)
  {
    .imagen-header2
    {
      width: 450px;
      height: 681px; 
    }
  }

  @media(max-width: 600px)
  {
    .doctores-foto
    {
      width: 400px;
      height: 566px;
    }
  }

@media(max-width: 450px)
{
  .imagen-header2
  {
    width: 300px;
    height: 454px;
  }
}

  @media(max-width: 400px)
  {
    .doctores-foto
    {
      width: 300px;
      height: 425px;
    }
  }